In [3]:
import os
import sqlite3
import requests
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By


def download_excel(url: str, css_selector: str) -> None:
    """
    Downloads the excel data file from the given URL and saves it to the current directory.
    
    Parameters:
        url (str): The URL to the data file.
        css_selector (str): The CSS selector for the download button.

    Returns:    
        None
    """
    s = Service(ChromeDriverManager().install())
    driver = webdriver.Chrome(service=s)
    driver.get(url)

    # Locate the download button and get the CSV file URL
    download_button = driver.find_element(By.CSS_SELECTOR, '.wp-block-button__link')
    csv_url = download_button.get_attribute('href')

    # Download the CSV file
    response = requests.get(csv_url)
    with open('skill_test_data.xlsx', 'wb') as f:
        f.write(response.content)

    # Close the webdriver
    driver.quit()


def create_pivot_table(data: pd.DataFrame) -> pd.DataFrame:
    """
    Creates a pivot table from the given data and saves it to a new Excel file.

    Parameters:
        data (DataFrame): The data to create the pivot table from.
    
    Returns:
        DataFrame: The pivot table.
    """
    pivot_table = pd.pivot_table(data, index='Platform (Northbeam)',
                                values=['Spend', 'Attributed Rev (1d)', 'Imprs',
                                        'Visits', 'New Visits', 'Transactions (1d)',
                                        'Email Signups (1d)'],
                                aggfunc='sum')

    column_sort = ['Spend', 'Attributed Rev (1d)', 'Imprs',
                                        'Visits', 'New Visits', 'Transactions (1d)',
                                        'Email Signups (1d)']

    # Sort the columns
    pivot_table = pivot_table.reindex(column_sort, axis=1)

    # Rename the column headers
    pivot_table.columns = ['Sum of Spend', 'Sum of Attributed Rev (1d)', 'Sum of Imprs',
                        'Sum of Visits', 'Sum of New Visits', 'Sum of Transactions (1d)',
                        'Sum of Email Signups (1d)']

    # Sort by revenue descending
    pivot_table = pivot_table.sort_values('Sum of Attributed Rev (1d)', ascending=False)

    for column in pivot_table.columns:
        pivot_table[column] = pivot_table[column].apply(lambda x: f"{x:,.2f}")

    # Apply the formatting for the "Sum of Spend" and "Sum of Attributed Rev (1d)" columns
    pivot_table['Sum of Spend'] = pivot_table['Sum of Spend'].apply(lambda x: f"${x}")
    pivot_table['Sum of Attributed Rev (1d)'] = pivot_table['Sum of Attributed Rev (1d)'].apply(lambda x: f"${x}")

    return pivot_table


def create_database_and_insert_data(database_name: str, table_name: str, data: pd.DataFrame) -> None:
    """
    Creates a new SQLite database and inserts the given data into a new table.

    Parameters:
        database_name (str): The name of the database.
        table_name (str): The name of the table.
        data (DataFrame): The data to insert into the table.

    Returns:
        None
    """
    conn = sqlite3.connect(database_name)
    data.to_sql(table_name, conn, if_exists='replace')
    conn.commit()
    conn.close()


if __name__ == "__main__":
    # Step 1: Download the data file
    url = "https://jobs.homesteadstudio.co/data-engineer/assessment/download/"
    css_selector = ".wp-block-button__link'"
    download_excel(url, css_selector)

    # Step 2: Create a pivot table
    input_file = "skill_test_data.xlsx"
    data = pd.read_excel(input_file, sheet_name="data")
    pivot_table = create_pivot_table(data)

    # Save the pivot table to a new Excel file
    pivot_table.to_excel("pivot_table.xlsx")

    # Step 3 and 4: Create a new SQLite database and insert the pivot table
    database_name = "african_cow.db"
    table_name = "pivot_table"
    create_database_and_insert_data(database_name, table_name, pivot_table)

    print("Process completed.")

        Date Platform (Northbeam)                            Name  Status
0 2022-11-26         Facebook Ads  02_Prospecting_$LC_Testing_ABO  Active  \
1 2022-11-27         Facebook Ads  02_Prospecting_$LC_Testing_ABO  Active
2 2022-11-28         Facebook Ads  02_Prospecting_$LC_Testing_ABO  Active
3 2022-11-29         Facebook Ads  02_Prospecting_$LC_Testing_ABO  Active
4 2022-11-30         Facebook Ads  02_Prospecting_$LC_Testing_ABO  Active

  Medium Source       Spend  Attributed Rev (1d)  LTV Attributed Rev
0    NaN    NaN  517.530000             342.4250            342.4250  \
1    NaN    NaN  555.820000             207.2200            345.7000
2    NaN    NaN  540.560000             263.9700            263.9700
3    NaN    NaN  523.920001              81.9100             81.9100
4    NaN    NaN  509.619999             229.6225            285.6225

   Forecasted Attributed Rev (30d)  ...  LTV Transactions
0                       342.904505  ...          2.750000  \
1                       346.402255  ...          2.500000
2                       265.556109  ...          1.500000
3                        84.156071  ...          0.500000
4                       288.601927  ...          1.583333

   Forecasted Attributed Transactions (30d)
0                                  2.753759  \
1                                  2.504960
2                                  1.510491
3                                  0.516178
4                                  1.606053

   Forecasted Attributed Transactions (60d)
0                                  2.797963  \
1                                  2.545530
2                                  1.548336
3                                  0.560684
4                                  1.662670

   Forecasted Attributed Transactions (90d)  Email Signups (1d)
0                                  2.817787            8.000000  \
1                                  2.563725            7.500000
2                                  1.565310            2.000000
3                                  0.580645            9.500000
4                                  1.688062            7.083333

   LTV Email Signups  Email Signup Rate (1d)  LTV Email Signup Rate
0           8.000000                0.065574               0.065574  \
1           7.500000                0.065789               0.065789
2           2.000000                0.017699               0.017699
3           9.500000                0.070896               0.070896
4           7.083333                0.045699               0.045699

   Cost per Email Signup (1d)  LTV Cost per Email Signup
0                   64.691250                  64.691250
1                   74.109333                  74.109333
2                  270.280000                 270.280000
3                   55.149474                  55.149474
4                   71.946353                  71.946353

[5 rows x 38 columns]
Process completed.

In [4]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('african_cow.db')

# Read the data from the "pivot_table" and store it in a DataFrame
data_from_db = pd.read_sql_query('SELECT * FROM pivot_table', conn)

# Print the data
print(data_from_db)

# Close the connection
conn.close()

   Platform (Northbeam) Sum of Spend Sum of Attributed Rev (1d)  Sum of Imprs
0            Google Ads   $28,228.10                 $90,448.41  1,476,413.00  \
1          Facebook Ads   $30,073.42                 $49,872.23  1,225,850.00
2               Organic        $0.00                 $45,056.68          0.00
3        Organic Search        $0.00                 $24,479.03          0.00
4          Unattributed        $0.00                  $4,860.46          0.00
5     Instagram Organic        $0.00                  $2,614.29          0.00
6                 Other        $0.00                  $2,205.55          0.00
7           Other Email        $0.00                  $1,521.82          0.00
8                TikTok    $1,108.45                  $1,360.64     58,796.00
9      Facebook Organic        $0.00                  $1,231.29          0.00
10      YouTube Organic        $0.00                    $450.83          0.00
11              SMSBump        $0.00                    $296.04          0.00
12        Transactional        $0.00                    $136.33          0.00
13              Klaviyo        $0.00                     $84.85          0.00
14        Discount Site        $0.00                     $59.83          0.00
15                Yotpo        $0.00                      $0.00          0.00
16         LinkedIn Ads        $0.00                      $0.00          0.00
17            Pinterest        $0.00                      $0.00          0.00
18               Reddit        $0.00                      $0.00          0.00
19         Snapchat Ads        $0.00                      $0.00          0.00
20             LinkTree        $0.00                      $0.00          0.00
21              Twitter        $0.00                      $0.00          0.00

   Sum of Visits Sum of New Visits Sum of Transactions (1d)
0      16,391.00         11,927.00                   591.09  \
1      18,298.00         13,864.00                   314.35
2      24,377.00          9,741.00                   342.87
3       5,575.00          4,160.00                   163.03
4           0.00              0.00                    58.00
5         557.00            454.00                    17.03
6         643.00            365.00                    28.18
7         435.00            138.00                    13.20
8         526.00            269.00                     8.26
9         544.00            460.00                     7.83
10        156.00            142.00                     3.00
11         57.00             19.00                     2.00
12         43.00             18.00                     0.72
13         10.00              7.00                     0.50
14         36.00             24.00                     0.43
15         17.00              8.00                     0.00
16          2.00              2.00                     0.00
17         27.00             23.00                     0.00
18         37.00             37.00                     0.00
19          3.00              2.00                     0.00
20        294.00            286.00                     0.00
21          8.00              7.00                     0.00

   Sum of Email Signups (1d)
0                     774.25
1                     799.21
2                     303.24
3                     269.62
4                      36.00
5                      53.75
6                      21.95
7                       3.00
8                      21.28
9                      34.70
10                     13.00
11                      5.17
12                      1.00
13                      0.00
14                      0.10
15                      0.00
16                      0.00
17                      0.00
18                      0.00
19                      0.00
20                      8.00
21                      0.00